/*----mobile css less than 600 pixel---*/

@media screen and (max-width: 576px) {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .tnspwa {
    font-weight: 600;
    font-size: 25px;
    padding-top: 275px;
    color: white;
    width: 405px !important ;
    margin-right: 100px !important ;
    text-align: center !important ; 
  }

.h1-responsive {
  color: white;
}

  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/logo/hamburger.svg') !important ;
}
}


/*-------marqueStart---*/

@media screen and (max-width: 728px) {
  #mobileId {
  display: none;
  
  }
 
  #desktopId  {
    display: none;
  }


/*-------marqueEnd---*/


 .dimension1 { 
  margin:10px;
  height: 50px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: #047433;
    color: white;
}
ul.marquee li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}
}









/*---------tabletsresponsive----------*/

@media screen and (min-width: 576px) and (max-width: 768px)  {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .tnspwa {
    font-weight: 600;
    font-size: 25px;
    padding-top: 275px;
    color: white;
    width: 500px !important ;
    margin-left: 100px !important ;
    text-align: center !important ; 
  }

.h1-responsive {
  color: white;
}

  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/logo/hamburger.svg') !important ;
}

.tabletscards {
  height: 12em;
}



}
