/*----mobile css less than 768 pixel---*/

@media screen and (max-width: 700px) {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .mobileresponsive {
    font-weight: 600;
    font-size: 25px;
    padding-top: 250px;
    color: white;
    text-align: center;
  }



  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
}
