/*----mobile css less than 600 pixel---*/

@media screen and (max-width: 576px) {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }



  .tnspwa {

    padding-top: 275px;
    color: white;
    width: 100%;
    max-width: 400px;
    text-align: center !important ; 
    overflow: hidden;
  }

.h1-responsive {
  color: white;
}

  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/logo/hamburger.svg') !important ;
}

/*--homrPageAnimation----*/
.ml2 {
  font-weight: 600;
  font-size: 18px;
  width: 399px !important;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}



#aboutmain {
      display: none;
  }
#aboutmain1 {
    display: block;
  }


.follow {
  margin-left: -20px !important;
}

}


/*-------marqueStart---*/

@media screen and (max-width: 576px) {
  #mobileId {
  display: inline-block;
  
  }
 
  #desktopId  {
    display: none;
  }


/*-------marqueEnd---*/
 .dimension1 { 
  overflow: hidden; 
  height: 70px;
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  background-color: #047433;
  color: white;
}


.slider {
  display: inline-flex;

    position: relative;
    list-style-type: none;
    text-align: start;
    animation: slider  500s linear infinite;
}

.slider li { line-height: 50px; width: 100vw; font-weight: 600; } 

@keyframes slider {
    0%   { transform: translateX(100vh) }
    100% { transform: translateX(-100%) }
}

}









/*---------tabletsresponsive----------*/

@media screen and (min-width: 576px) and (max-width: 992px)  {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .tnspwa {
    font-weight: 600;
    font-size: 25px;
    padding-top: 275px;
    color: white;
    width: 500px !important ;
    margin-left: 25px !important ;
    text-align: center !important ; 
  }

.h1-responsive {
  color: white;
}

  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/logo/hamburger.svg') !important ;
}

.tabletscards {
  height: 12em;
}

.heightTablets {
  height: 425px !important ;
}


#aboutmain {
      display: none;
  }
#aboutmain1 {
    display: block;
  }


  #mobileId {
  display: inline-block;
  
  }
 
  #desktopId  {
    display: none;
  }


/*-------marqueEnd---*/
 .dimension1 { 
  overflow: hidden; 
  height: 70px;
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  background-color: #047433;
  color: white;
}


.slider {
  display: inline-flex;

    position: relative;
    list-style-type: none;
    text-align: start;
    animation: slider  500s linear infinite;
}

.slider li { line-height: 50px; width: 100vw; font-weight: 600; } 

@keyframes slider {
    0%   { transform: translateX(100vh) }
    100% { transform: translateX(-100%) }
}


/*-------marqueEnd---*/


 .dimension1 { 
  margin:10px;
  height: 50px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: #047433;
    color: white;
}
ul.marquee li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}



}
