/*----mobile css less than 768 pixel---*/

@media screen and (max-width: 728px) {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .mobileresponsive {
    font-weight: 600;
    font-size: 25px;
    padding-top: 250px;
    color: white;
    text-align: center;
  }



  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('images/logo/hamburger.svg') !important ;
}
}


/*-------marqueStart---*/

@media screen and (max-width: 728px) {
  #mobileId {
  display: none;
  
  }
 
  #desktopId  {
    display: none;
  }


/*-------marqueEnd---*/


 .dimension1 { 
  margin:10px;
  height: 50px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: #047433;
    color: white;
}
ul.marquee li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}
}









