



@media (min-width: 992px){
.navbar li {
    margin-left : 0.75em;
    margin-right : 0.75em;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;

}





.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid;
  border-bottom-color: #047433;
}

.topnav a.active {
  border-bottom: 3px solid ;
  border-bottom-color: #047433;
}

.h1-responsive {
  color: #047433;
}


#section1 .btnhover:hover {

background-color: #047433;
outline: none;
}

#section2 .btnhover:hover {

background-color: #047433;
outline: none;
}

#section3 .btnhover:hover {

background-color: #047433;
outline: none;
color: white;
}

#footer .btnhover:hover {


outline: none;
color: #047433;
}

@media screen and (min-width: 601px) {
  div.textBottom {
    color: #047433;

  }
}

@media screen and (max-width: 600px) {
  div.textBottom {
    color: #047433;

  }
}

/*--section2---*/
#section2 {
  margin-top: 0px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 300px;

}
.carddesign {
  width: 18rem;
  height: 20rem;
  padding-top: 2rem;

}

/*--section2---*/
#section3 {
  
  padding-left: 30px;
}
.textalignment {
  padding-top: 50px;
  padding-left: 50px;
}


/*--footer---*/
#footer {
  height: 350px;
  background-color: #EDEFEC;
  width: 100%;
  padding-top: 25px;

}
.centerfooter {
  padding-top: 100px;
}
.contactusalign {
  padding-top: 50px;
}
.underline {
  text-decoration-line : none;
  align-items: center;
}



#aboutmain .about1{
  font-family: Open-sans-serif;
 
}

}
.fontWidth {
  width: 100%;
  }