



@media (min-width: 992px) {
.navbar li {
    margin-left : 0.75em;
    margin-right : 0.75em;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;

}
/*-------
@media only screen and (min-width: 992px) {
#section1 {
  background-image: url('images/safety1.jpg')  ;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
}
}----*/


.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.1rem !important ;
  padding-right: 0.1rem !important;
}
.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid;
  border-bottom-color: #047433;
}

.topnav a:active {
  color: #047433 !important;

}

.topnav a:focus {
color: #047433 !important;
}

.h1-responsive {
  color: #047433;
}
}

#section1 .btnhover {

background-color: #047433 !important;
border-color: #047433 !important;
}

#section1 .btnhover:hover {

background-color: #047433 !important;
border-color: #047433 !important;
}

#section2 .btnhover:hover {

background-color: indigo !important;
outline: none;
}

#section3 .btnhover:hover {

background-color: #047433;
outline: none;
color: white;
}

#footer .btnhover:hover {


outline: none;
color: #047433;
}

#footer a.btnhover:hover {


outline: none;
color: #047433;
}

@media screen and (min-width: 600px) {
  div.textBottom {
    color: #047433;

  }
}



@media screen and (max-width: 600px) {
  div.textBottom {
    color: #047433;

  }
}

/*--section2---*/
#section2 {
  margin-top: 0px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 300px;

}
.carddesign {
  width: 18rem;
  height: 20rem;
  padding-top: 2rem;

}

/*--section3---*/
#section3 {
  
  padding-left: 30px;
}
.textalignment {
  padding-top: 50px;
  padding-left: 50px;
}


/*--footer---*/
#footer {
  height: 250px;
  background-color: #EDEFEC;
  width: 100%;
  padding-top: 25px;

}

.demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#047433;
  color:white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#39B54A ;
  color: white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(255,255,255));
  -moz-filter:  drop-shadow(0 1px 10px rgba(255,255,255));
  -ms-filter:     drop-shadow(0 1px 10px rgba(255,255,255));
  -o-filter:    drop-shadow(0 1px 10px rgba(255,255,255));
  filter:       drop-shadow(0 1px 10px rgba(255,255,255));   
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}

.centerfooter {
  padding-top: 100px;
}
.contactusalign {
  padding-top: 50px;
}
.underline {
  text-decoration-line : none;
  align-items: center;
}

/*------contactuspage-----*/
.contactuscards {
  background-color: #047433 !important ;
  color: white !important;
  font-weight: 600;
}
.contactuscards:hover {
  background-color: #72BF44 !important;
}

.colorFocus {
  width: 75% !important ;

}

@media screen and (max-width: 600px) {
  .contactuscards {
  background-color: #047433 !important ;
  color: white !important;
  font-weight: 600;
}
.contactuscards:hover {
  background-color: #0D328D !important;
}
}

#aboutmain .about1{
  font-family: Open-sans-serif;
 
}

}
.fontWidth {
  width: 100%;
  background-color: #EDEFEC;
  }


  /*----contactuspage---*/
  #contactus1 .btnhover1:hover {
    color: #047433;
  }


  /*-----membership---*/
  #cardsmember .cardbtn:hover {
    background-color: #72BF44;
    border-color: #72BF44 !important;
    color: white;
  }

#cardsmember .cardbtn {
    background-color: #047433;
    border-color: #047433 !important;
    color: white;
  }

  /*----homeaboutus------*/
    #about123 .cardbtn:hover {
    background-color: #72BF44;
    border-color: #72BF44 !important;
    color: white;
  }

#about123 .cardbtn {
    background-color: #047433;
    border-color: #047433 !important;
    color: white;
  }
/*--legalAmends---*/
    #legalAmenddownload .cardbtn:hover {
    background-color: #72BF44;
    border-color: #72BF44 !important;
    color: white;
  }

#legalAmenddownload .cardbtn {
    background-color: #047433;
    border-color: #047433 !important;
    color: white;
  }
  /*------homeGallery-----*/
  @import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: #047433;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0.8;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
  /*------homegalleryEnd---*/

/*---------mobile responsive-----------*/
@media screen and (max-width: 992px) {
  #footer {
    background-color: #EDEFEC;
  }
  .demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#047433 ;
  color:white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#39B54A ;
  color: white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(255,255,255));
  -moz-filter:  drop-shadow(0 1px 10px rgba(255,255,255));
  -ms-filter:     drop-shadow(0 1px 10px rgba(255,255,255));
  -o-filter:    drop-shadow(0 1px 10px rgba(255,255,255));
  filter:       drop-shadow(0 1px 10px rgba(255,255,255));   
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}

}


/*-----section1-----*/

/*----hide aboutus------*/

#aboutmain1{
  display: none;
}
@media screen and (max-width: 600px) {
    #aboutmain {
      display: none;
  }
  #aboutmain1 {
    display: block;
  }
}