



@media (min-width: 992px){
.navbar li {
    margin-left : 0.75em;
    margin-right : 0.75em;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;

}
/*-------
@media only screen and (min-width: 992px) {
#section1 {
  background-image: url('images/safety1.jpg')  ;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
}
}----*/



.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid;
  border-bottom-color: #047433;
}

.topnav a.active {
  border-bottom: 3px solid ;
  border-bottom-color: #047433;
}

.h1-responsive {
  color: #047433;
}


#section1 .btnhover:hover {

background-color: #047433;
outline: none;
}

#section2 .btnhover:hover {

background-color: #047433;
outline: none;
}

#section3 .btnhover:hover {

background-color: #047433;
outline: none;
color: white;
}

#footer .btnhover:hover {


outline: none;
color: #047433;
}

#footer a.btnhover:hover {


outline: none;
color: #047433;
}

@media screen and (min-width: 601px) {
  div.textBottom {
    color: #047433;

  }
}



@media screen and (max-width: 600px) {
  div.textBottom {
    color: #047433;

  }
}

/*--section2---*/
#section2 {
  margin-top: 0px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 300px;

}
.carddesign {
  width: 18rem;
  height: 20rem;
  padding-top: 2rem;

}

/*--section3---*/
#section3 {
  
  padding-left: 30px;
}
.textalignment {
  padding-top: 50px;
  padding-left: 50px;
}


/*--footer---*/
#footer {
  height: 250px;
  background-color: #EDEFEC;
  width: 100%;
  padding-top: 25px;

}

.demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#007BFF ;
  color:white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#047433 ;
  color: white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(255,255,255));
  -moz-filter:  drop-shadow(0 1px 10px rgba(255,255,255));
  -ms-filter:     drop-shadow(0 1px 10px rgba(255,255,255));
  -o-filter:    drop-shadow(0 1px 10px rgba(255,255,255));
  filter:       drop-shadow(0 1px 10px rgba(255,255,255));   
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}

.centerfooter {
  padding-top: 100px;
}
.contactusalign {
  padding-top: 50px;
}
.underline {
  text-decoration-line : none;
  align-items: center;
}



#aboutmain .about1{
  font-family: Open-sans-serif;
 
}

}
.fontWidth {
  width: 100%;
  background-color: #EDEFEC;
  }


  /*----contactuspage---*/
  #contactus1 .btnhover1:hover {
    color: #047433;
  }


  /*-----membership---*/
  #cardsmember .cardbtn:hover {
    background-color: #047433;
    border-color: white !important;
  }



/*---------mobile responsive-----------*/
@media screen and (max-width: 992px) {
  #footer {
    background-color: #EDEFEC;
  }
  .demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
  position:relative;
  text-align:center;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#007BFF ;
  color:white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#047433 ;
  color: white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(255,255,255));
  -moz-filter:  drop-shadow(0 1px 10px rgba(255,255,255));
  -ms-filter:     drop-shadow(0 1px 10px rgba(255,255,255));
  -o-filter:    drop-shadow(0 1px 10px rgba(255,255,255));
  filter:       drop-shadow(0 1px 10px rgba(255,255,255));   
}
.icon.social.fb i {
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}

}


/*-----section1-----*/
@media screen and (max-width: 700px) {
  #section1 {
    background-image: url("images/safety21.jpg") !important ;
    background-repeat: no-repeat !important; 
    background-size: cover !important; 
    background-position: center center!important; 
  }

  .mobileresponsive {
    font-weight: 600;
    font-size: 25px;
    padding-top: 225px;
    color: white;
    text-align: center;
  }
  a.nav-link{
  color: #047433 !important;
}
.navbar-toggler{
  border-color: #047433 !important ;
}
.navbar-toggler:focus{
  color: #047433 !important ;
}
}